:root {
	--orange:#E76F51;
	--white: #fff;

}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* font-size: 10px; */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto Medium", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* Reset Style */
a {
  text-decoration: none;
}

/* Helper Class */
/* App Style */

.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)), url(../images/header-bg.jpg);
	background-position: center;
	background-size: cover;
	min-height: 55rem;
	border-bottom-left-radius: 10rem;
	border-bottom-right-radius: 10rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.logo {
	display: block;
	width: 5.5rem;
	height: 5.5rem;
}

.logo__img {
	width: 100%;
	heigt: 100%;
}

.menu {
	display: none;
}

.menu__item {

}

.menu__link {

}

.mobile-menu {
	width:24rem;
	position: fixed;
	top:0;
	left:-24rem;
	bottom: 0;
	background-color: #343434;
	padding: 2.5rem;
	transition: all 250ms ease-in-out;
}

.mobile-menu--open {
	left:0;
}

.hamburger-menu {
	margin-bottom: 3rem;
}

.hamburger-menu__item {
	margin-bottom: 1rem;
}

.hamburger-menu__link {
color:var(--white);
}

.hamburger-menu-sign {
	display: flex;
}

.hamburger-menu-sign__link {
	color: var(--white);
	border:1px solid var(--white);
	display:block;
	padding: 1rem;
	text-align: center;
	flex-grow: 1;

}

.hamburger-menu-sign__link--border {

}

.header-sign {
	display: none;
}

.hamburger-menu-icon {
	background-color: var(--white);
	width: 5.5rem;
	height: 5.5rem;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hamburger-menu-icon__line {
	display: block;
	width:3rem;
	height: 0.3rem;
	border-radius: 5rem;
	background-color: var(--orange);
	position: relative;
	cursor: pointer;
	transition: all 100ms ease-in-out;
}

.hamburger-menu-icon__line::before,.hamburger-menu-icon__line::after {
	content: "";
	position: absolute;
	display: block;
	width:3rem;
	height: 0.3rem;
	border-radius: 5rem;
	background-color: var(--orange);
	transition: all 200ms ease-in-out;
}

.hamburger-menu-icon__line::before {
	top: -0.8rem;
}

.hamburger-menu-icon__line::after {
	top: 0.8rem;
}

.hamburger-menu-icon--open .hamburger-menu-icon__line {
	background-color: transparent;
}

.hamburger-menu-icon--open .hamburger-menu-icon__line::before {
	transform: translateY(8px) rotate(45deg);
}

.hamburger-menu-icon--open .hamburger-menu-icon__line::after {
	transform: translateY(-8px) rotate(-45deg);
}