.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
	position: relative;
}

/* Ipads,Tablets */
@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}

/* Small Screens,laptops */
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
}

/* Desktops, Larg Screens */
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}

/* Extra Larg Screens, TV */
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}
