/* Extra Larg Screens, TV */
@media (max-width: 375px) {
  .header-content__title {
    font-size: 4rem;
  }

  .destinations__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  * {
    cursor: default !important;
  }
}

@media (min-width: 376px) {
  .mobile-menu {
    width: 29rem;
    left: -29rem;
  }

  .mobile-menu--open {
    left: 0;
  }
}

/* Ipads,Tablets */
@media (min-width: 576px) {
  .mobile-menu {
    width: 50rem;
    left: -50rem;
  }

  .mobile-menu--open {
    left: 0;
  }
}

/* Small Screens,laptops */
@media (min-width: 768px) {
  .hamburger-menu-icon,
  .mobile-menu {
    display: none;
  }
  .menu {
    display: flex;
  }
}

/* Desktops, Larg Screens */
@media (min-width: 992px) {
  .nav-sign {
    display: block;
  }
  .header-content__description {
    max-width: 50rem;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
}

/* Extra Larg Screens, TV */
@media (min-width: 1400px) {
}
