/* Extra Larg Screens, TV */
@media (max-width: 375px) {
  .header-content__title {
    font-size: 4rem;
  }

  .destinations__title {
    font-size: 2.5rem;
  }

	.newsletter__title {
		max-width: 16rem;
	}
}

@media (max-width: 768px) {
  * {
    cursor: default !important;
  }
}

@media (min-width: 514px) {
	.destinations__items {
		height:80rem;
	}
}

@media (min-width: 650px) {
	.destinations__items {
		height:86rem;
	}
}

/*__________________________*/


@media (min-width: 376px) {
  .mobile-menu {
    width: 29rem;
    left: -29rem;
  }

  .mobile-menu--open {
    left: 0;
  }
}

/* Ipads,Tablets */
@media (min-width: 576px) {
  .mobile-menu {
    width: 50rem;
    left: -50rem;
  }

  .mobile-menu--open {
    left: 0;
  }
}

/* Small Screens,laptops */
@media (min-width: 768px) {
	.hamburger-menu-icon,
  .mobile-menu {
    display: none;
  }
  .menu {
    display: flex;
  }

	.newsletter {
		flex-direction: row;
		text-align: left;
		align-items: center;
	}

	.newsletter__content {
		flex-basis: 60%;
		padding-right: 4rem;
	}

	.newsletter__banner {
		flex-basis: 40%;
	}
}

/* Desktops, Larg Screens */
@media (min-width: 992px) {
  .nav-sign {
    display: block;
  }
  .header-content__description {
    max-width: 50rem;
  }

	.newsletter__title {
		margin-bottom: 0;
	}
}

/* Large Screens */
@media (min-width: 1200px) {
	.newsletter {
		justify-content: space-between;
	}

	.newsletter__content {
		flex-basis: auto;
		padding-right: 4rem;
		width: 60rem;
	}

	.newsletter__banner {
		flex-basis: auto;
		width: 42rem;
	}
}

/* Extra Larg Screens, TV */
@media (min-width: 1400px) {
	.newsletter {
		padding: 3rem 6rem;
	}
}
